NEXT_PUBLIC_SIDRA_CHAIN_ID=
NEXT_PUBLIC_SIDRA_RPC_URL=
NEXT_PUBLIC_SIDRA_EXPLORER_URL=
NEXT_PUBLIC_TAP_TOKEN_ADDRESS=
NEXT_PUBLIC_SDA_TOKEN_ADDRESS=
NEXT_PUBLIC_USDT_TOKEN_ADDRESS=
NEXT_PUBLIC_DEX_ROUTER_ADDRESS=
NEXT_PUBLIC_TREASURY_ADDRESS=0x8A783E73C086829bb4F478A45163D68D587a9378
NEXT_PUBLIC_PLATFORM_FEE_BPS=0
DATABASE_URL=
AI_API_KEY=
